<a href="https://colab.research.google.com/github/dyaccu/Modelado_de_datos_con_Python/blob/main/Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

# Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

 **`>>> Usa esta celda para mover <<<`**

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [1]:
print('Hola mundo')

Hola mundo

In [5]:
print('Mi nombre es Damián y estos son mis primeros pasos en Python')

Mi nombre es Damián y estos son mis primeros pasos en Python

In [6]:
15

15

# **Desafío**: ¡Es hora de practicar!

1 - Imprime la frase "Escuela de Datos de Alura".

In [7]:
print('Escuela de Datos de Alura')

Escuela de Datos de Alura

2 - Imprime tu nombre y tu apellido siguiendo la estructura a continuación:

Nombre: [tu nombre]

Apellido: [tu apellido]

In [9]:
print('Nombre: Damián')
print('Apellido: Yaccuzzi')

Nombre: Damián
Apellido: Yaccuzzi

3 - Imprime tu primer nombre letra por letra. Por ejemplo, si mi nombre es Álvaro, la salida sería:

Á

L

V

A

R

O

In [11]:
print('D')
print('A')
print('M')
print('I')
print('Á')
print('N')

D
A
M
I
Á
N

4 - Imprime tu fecha de nacimiento en formato día mes año. Recuerda que los valores de día y año no deben estar entre comillas. Suponiendo una fecha de cumpleaños el 28 de febrero de 2003, el formato debe ser como el siguiente:

28 febrero 2003

In [20]:
print(28,'febrero',2003)

28 febrero 2003

5 - Imprime, en una sola instrucción print, el año actual en el que estás realizando este curso. El valor del año debe ser un dato numérico, y la salida de print debe ser la siguiente:

Año actual: [año]

In [21]:
print('Año actual', 2025)

Año actual 2025

# Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

In [22]:
5

5

In [23]:
id(5)

10750984

In [27]:
edad = 5

In [29]:
print(id(5))
print(id(edad))

10750984
10750984

In [30]:
numerocinco = 5

In [33]:
id(numerocinco)

10750984

In [35]:
nombre = 'Gabriel'

In [36]:
id('Gabriel')

136492684708976

In [37]:
id(nombre)

136492684708976

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

In [38]:
edad = 5

In [39]:
type(edad)

int

In [40]:
promedio = 9.5
type(promedio)

float

In [41]:
nombre ='Damián'
type(nombre)

str

In [42]:
v = True
type (v)

bool

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

#### Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

In [46]:
nombre = 'Penélope Camacho'
edad = 11
promedio = 9.75
aprobado = True

print(nombre, edad, promedio, aprobado)
print(type(nombre), type(edad), type(promedio), type(aprobado))

Penélope Camacho 11 9.75 True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

In [47]:
c_vigilante = 5
s_vigilante = 300

c_docente = 16
s_docente = 500

c_coordinador = 2
s_corrdinador = 600

In [49]:
total_empleados = c_vigilante + c_docente + c_coordinador
total_empleados

23

In [50]:
diferencia_salario = s_corrdinador - s_vigilante
diferencia_salario

300

In [51]:
promedio_salarios = (c_vigilante * s_vigilante + c_docente * s_docente
                     + c_coordinador * s_corrdinador) / total_empleados
promedio_salarios

465.2173913043478

In [52]:
type(promedio_salarios)

float

## Strings

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

In [53]:
t = 'Alura'
type (t)

str

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [54]:
texto = '  Micaela de los Sanyos '
id(texto)

136492429363280

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

In [55]:
texto.upper()

'  MICAELA DE LOS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

In [57]:
texto.lower()

'  micaela de los sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

In [58]:
texto.strip()

'Micaela de los Sanyos'

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

In [60]:
texto.replace('y','t')

'  Micaela de los Santos '

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

In [61]:
texto

'  Micaela de los Sanyos '

In [62]:
id(texto)

136492429363280

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

In [64]:
nuevo_texto = texto.strip().replace('y','t').upper() #si pongo el atributo replace al final no funciona
print(nuevo_texto)
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANTOS
136492429363280 136492429407408

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

In [65]:
nombre = input("Escribe tu nombre: ")

Escribe tu nombre: Damián

In [68]:
print(nombre)
type(nombre)

Damián

str

La salida de este comando siempre será una *string*. Esto quiere decir que aunque capturemos un valor de variable numérica, este será de tipo string.

Entonces, será necesario **convertir el resultado cuando no se desea utilizar el valor como tipo string**.

Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

In [69]:
ano_admision = input ('Digita el año de admisión: ')

Digita el año de admisión: 2023

In [70]:
type(ano_admision)

str

In [71]:
ano_salida = input ('Digita el año de salida: ')

Digita el año de salida: 2024

In [72]:
type(ano_salida)

str

In [73]:
ano_admision + ano_salida

'20232024'

In [74]:
ano_admision = int(input ('Digita el año de admisión: '))

Digita el año de admisión: 2023

In [75]:
type(ano_admision)

int

In [76]:
nota_admision = float(input ('Digita la nota de admisión: '))

Digita la nota de admisión: 9.5

In [77]:
type(nota_admision)

float

Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

In [78]:
print(f'\tEl año de admisión fue {ano_admision} \n\tLa nota de admisión fue: {nota_admision}')

	El año de admisión fue 2023
	La nota de admisión fue: 9.5

# **Desafío**: ¡Es hora de practicar!

## Recopilación y muestra de datos
1 - Crea un programa que solicite al usuario que escriba su nombre y luego imprima "Hola, [nombre]."

2 - Crea un programa que solicite al usuario que escriba su nombre y edad, y luego imprima "Hola, [nombre], tienes [edad] años."

3 - Crea un programa que solicite al usuario que escriba su nombre, edad y altura en metros, y luego imprima "Hola, [nombre], tienes [edad] años y mides [altura] metros."

In [122]:
nombre = input('Escriba su nombre: ')
print('Hola', nombre)
print(f'¡Hola, {nombre}!')

Escriba su nombre: Ana
Hola Ana
¡Hola, Ana!

In [120]:
nombre = input('Escriba su nombre: ')
edad = input('Escriba su edad: ')
print('Hola',nombre,',tienes',edad,'años')
print(f'¡Hola, {nombre}, tienes {edad} años!')

Escriba su nombre: Ana
Escriba su edad: 20
Hola Ana ,tienes 20 años
¡Hola, Ana, tienes 20 años!

In [124]:
nombre = input('Escriba su nombre: ')
edad = input('Escriba su edad: ')
altura = input('Escriba su altura (en metros): ')
print('Hola',nombre,',tienes',edad,'años y mides',altura,'metros')
print(f'¡Hola, {nombre}, tienes {edad} años y mides {altura} metros!')

Escriba su nombre: Ana
Escriba su edad: 20
Escriba su altura (en metros): 1.70
Hola Ana ,tienes 20 años y mides 1.70 metros
¡Hola, Ana, tienes 20 años y mides 1.70 metros!

## Calculadora con operadores

4 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la suma de ambos valores.

5 - Crea un programa que solicite tres valores numéricos al usuario y luego imprima la suma de los tres valores.

6 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la resta del primero menos el segundo valor.

7 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la multiplicación de los dos valores.

8 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

9 - Crea un programa que solicite dos valores numéricos, un operador y una potencia, y realice la exponenciación entre estos dos valores.

10 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entera entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

11 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y devuelva el resto de la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

12 - Crea un código que solicite las 3 notas de un estudiante e imprima el promedio de las notas.

13 - Crea un código que calcule e imprima el promedio ponderado de los números 5, 12, 20 y 15 con pesos respectivamente iguales a 1, 2, 3 y 4.

In [92]:
numero1 = int(input('Ingrese un nro: '))
numero2 = int(input('Ingrese otro nro: '))
print('La suma entre el numero',numero1,'y el numero',numero2,'es: ',numero1+numero2)

Ingrese un nro: 2
Ingrese otro nro: 2
La suma entre el numero 2 y el numero 2 es:  4

In [94]:
numero1 = int(input('Ingrese un nro: '))
numero2 = int(input('Ingrese otro nro: '))
numero3 = int(input('Ingrese otro nro: '))
print('La suma entre el numero',numero1,',el numero',numero2,'y el numero',numero3, 'es: ',numero1+numero2+numero3)

Ingrese un nro: 2
Ingrese otro nro: 2
Ingrese otro nro: 2
La suma entre el numero 2 ,el numero 2 y el numero 2 es:  6

In [95]:
numero1 = int(input('Ingrese un nro: '))
numero2 = int(input('Ingrese otro nro: '))
print('La resta entre el numero',numero1,'y el numero',numero2,'es: ',numero1-numero2)

Ingrese un nro: 2
Ingrese otro nro: 2
La resta entre el numero 2 y el numero 2 es:  0

In [96]:
numero1 = int(input('Ingrese un nro: '))
numero2 = int(input('Ingrese otro nro: '))
print('La multiplicación entre el numero',numero1,'y el numero',numero2,'es: ',numero1*numero2)

Ingrese un nro: 2
Ingrese otro nro: 2
La multiplicación entre el numero 2 y el numero 2 es:  4

In [97]:
numero1 = int(input('Ingrese el valor para el numerador: '))
numero2 = int(input('Ingrese el valor para el denominador (que no sea cero): '))
print('La division entre el numero',numero1,'y el numero',numero2,'es: ',numero1/numero2)

Ingrese el valor para del numerador: 4
Ingrese el valor para del denominador (que no sea cero): 2
La division entre el numero 4 y el numero 2 es:  2.0

In [101]:
numero1 = int(input('Ingrese el valor para el operador: '))
numero2 = int(input('Ingrese el valor para la potencia: '))
print('El numero',numero1,'elevado al numero',numero2,'es: ',numero1**numero2)

Ingrese el valor para el operador: 3
Ingrese el valor para la potencia: 2
El numero 3 elevado al numero 2 es:  9

In [102]:
numero1 = int(input('Ingrese el valor para el numerador: '))
numero2 = int(input('Ingrese el valor para el denominador (que no sea cero): '))
print('La division entera entre el numero',numero1,'y el numero',numero2,'es: ',numero1//numero2)

Ingrese el valor para el numerador: 4
Ingrese el valor para el denominador (que no sea cero): 2
La division entera entre el numero 4 y el numero 2 es:  2

In [103]:
numero1 = int(input('Ingrese el valor para el numerador: '))
numero2 = int(input('Ingrese el valor para el denominador (que no sea cero): '))
print('La el resto de la division entre el numero',numero1,'y el numero',numero2,'es: ',numero1%numero2)

Ingrese el valor para el numerador: 4
Ingrese el valor para el denominador (que no sea cero): 2
La el resto de la division entre el numero 4 y el numero 2 es:  0

In [104]:
numero1 = int(input('Ingrese la nota de su primer parcial: '))
numero2 = int(input('Ingrese la nota de su segundo parcial: '))
numero3 = int(input('Ingrese la nota de su tercer parcial: '))
print('Su nota promedio es de:',(numero1+numero2+numero3)/3)

Ingrese la nota de su primer parcial: 2
Ingrese la nota de su segundo parcial: 2
Ingrese la nota de su tercer parcial: 2
Su nota promedio es de: 2.0

In [125]:
print('el promedio ponderado de los números 5, 12, 20 y 15 con pesos respectivamente iguales a 1, 2, 3 y 4 es:',(5*1+12*2+20*3+15*4)/(1+2+3+4))

el promedio ponderado de los números 5, 12, 20 y 15 con pesos respectivamente iguales a 1, 2, 3 y 4 es: 14.9

## Editando textos

14 - Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase en pantalla.

15 - Crea un código que solicite una frase y luego imprima la frase en pantalla.

16 - Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en mayúsculas.

17 - Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en minúsculas.

18 - Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase sin espacios en blanco al principio y al final.

19 - Crea un código que solicite una frase al usuario y luego imprima la misma frase sin espacios en blanco al principio y al final.

20 - Crea un código que solicite una frase al usuario y luego imprima la misma frase sin espacios en blanco al principio y al final, además de convertirla a minúsculas.

21 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "e" reemplazadas por la letra "f".

22 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "a" reemplazadas por el carácter "@".

23 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las consonantes "s" reemplazadas por el carácter "$".

Si necesitas ayuda, las opciones de solución a las actividades estarán disponibles en la sección "Opinión del instructor".

In [106]:
frase = 'Mis primeros pasos en Python'
print(frase)

Mis primeros pasos en Python

In [107]:
frase = input('Ingrese una frase: ')
print(frase)

Ingrese una frase: La vida es bella
La vida es bella

In [109]:
frase = input('Ingrese una frase: ')
print(frase.upper())

Ingrese una frase: la vida es bella
LA VIDA ES BELLA

In [110]:
frase = input('Ingrese una frase: ')
print(frase.lower())

Ingrese una frase: LA VIDA ES BELLA
la vida es bella

In [112]:
frase = '   Mis primeros pasos en Python   '
print(frase.strip())

Mis primeros pasos en Python

In [113]:
frase = input('Ingrese una frase: ')
print(frase.strip())

Ingrese una frase:    La vida es bella
La vida es bella

In [115]:
frase = input('Ingrese una frase: ')
print(frase.strip().lower())

Ingrese una frase:    LA VIDA ES BELLA
la vida es bella

In [116]:
frase = input('Ingrese una frase: ')
print(frase.replace('e','f'))

Ingrese una frase: La vida es bella y la eternidad es fantastica
La vida fs bflla y la ftfrnidad fs fantastica

In [117]:
frase = input('Ingrese una frase: ')
print(frase.replace('a','@'))

Ingrese una frase: La vida es bella
L@ vid@ es bell@

In [119]:
frase = input('Ingrese una frase: ')
print(frase.replace('s','$'))

Ingrese una frase: La vida es bella
La vida e$ bella

# Estructuras condicionales

In [1]:
# Nota de aprobacion entre 7 y 10 == nota de aprobacion >=7
# Nota de reprobacion es menor a 7 == nota de reprobacion < 7

"""
Si la nota es mayor o igual a 7 entonces el estudiante aprueba
Si no, entonces el estudiante reprueba
"""

'\nSi la nota es mayor o igual a 7 entonces el estudiante aprueba\nSi no, entonces el estudiante reprueba\n'

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

In [2]:
if 2 <7:
  print('La condicion es verdadera.')

La condicion es verdadera.

In [4]:
if 2 > 7:
  print('La condicion es verdadera.')
print('Fin de la consulta')

Fin de la consulta

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

In [5]:
if 2 > 7:
  print('La condicion es verdadera.')
else:
  print('La condicion es falsa.')
print('Fin de la consulta.')

La condicion es falsa.
Fin de la consulta.

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

In [6]:
nota = float(input('Digita la nota:'))

if nota >= 7:
  print('Aprobo')
else:
  print('Reprobo')

Digita la nota:6
Reprobo

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

In [8]:
nota = float(input('Digita la nota:'))

if nota >= 7:
  print('Aprobo')
if 7 > nota >=5:
  print('Recuperacion')
if nota < 5:
  print('Reprobo')

Digita la nota:7.1
Aprobo

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

In [9]:
nota = float(input('Digita la nota:'))

if nota >= 7:
  print('Aprobo')
if 7 > nota >=5:
  print('Recuperacion')
else:
  print('Reprobo')

Digita la nota:8
Aprobo
Reprobo

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

In [12]:
nota = float(input('Digita la nota: '))

if nota >= 7:
  print('Aprobo')
elif 7 > nota >=5:
  print('Recuperacion')
else:
  print('Reprobo')

Digita la nota: 7
Aprobo

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

In [14]:
v = True
f = False

In [17]:
if f and f:
  print('La condicion es verdadera.')
else:
  print('La condicion es falsa.')

La condicion es falsa.

In [19]:
if v or f:
  print('La condicion es verdadera.')
else:
  print('La condicion es falsa.')

La condicion es verdadera.

In [20]:
if not f:
  print('La condicion es verdadera.')
else:
  print('La condicion es falsa.')

La condicion es verdadera.

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente na variávelen la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [22]:
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez, Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres, David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro, Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina, Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero, Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'

In [23]:
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'

In [26]:
if nombre_1 in lista:
  print('El estudiante aprobo.')
else:
  print('El estudiante reprobo')

El estudiante aprobo.

In [27]:
if nombre_2 in lista:
  print('El estudiante aprobo.')
else:
  print('El estudiante reprobo')

El estudiante reprobo

# **Desafio**: ¡Es hora de practicar!

## Entrenando la programación

1 - Escribe un programa que pida a la persona usuaria que proporcione dos números y muestre el número más grande.

2 - Escribe un programa que solicite el porcentaje de crecimiento de producción de una empresa e informe si hubo un crecimiento (porcentaje positivo) o una disminución (porcentaje negativo).

3 - Escribe un programa que determine si una letra proporcionada por la persona usuaria es una vocal o una consonante.

4 - Escribe un programa que lea valores promedio de precios de un modelo de automóvil durante 3 años consecutivos y muestre el valor más alto y más bajo entre esos tres años.

5 - Escribe un programa que pregunte sobre el precio de tres productos e indique cuál es el producto más barato para comprar.

6 - Escribe un programa que lea tres números y los muestre en orden descendente.

7 -Escribe un programa que pregunte en qué turno estudia la persona usuaria ("mañana", "tarde" o "noche") y muestre el mensaje "¡Buenos Días!", "¡Buenas Tardes!", "¡Buenas Noches!" o "Valor Inválido!", según el caso.

8 - Escribe un programa que solicite un número entero a la persona usuaria y determine si es par o impar. Pista: Puedes usar el operador módulo (%).

9 - Escribe un programa que pida un número a la persona usuaria y le informe si es entero o decimal.

In [29]:
numero1 = int(input('Digite un nro: '))
numero2 = int(input('Digite otro nro: '))
if numero1 > numero2:
  print('El numero mas grande es:', numero1)
else:
  print('El numero mas grande es:', numero2)

Digite un nro: 4
Digite otro nro: 6
El numero mas grande es: 6

In [38]:
porcentaje = float(input('Ingrese el valor porcentual (positivo o negativo, sin el simbolo %) de producción de una empresa: '))
if porcentaje > 0:
  print('Hubo un crecimiento.')
else:
  print('Hubo una disminucion.')

Ingrese el valor porcentual (positivo o negativo, sin el simbolo %) de producción de una empresa: 10
Hubo un crecimiento.

In [60]:
letra = input('Ingrese una letra: ')
if letra in ('a', 'A', 'e', 'E', 'i', 'I', 'o', 'O', 'u', 'U'):
  print('La letra es una vocal')
else:
  print('La letra es una consonante')

Ingrese una letra: U
La letra es una vocal

In [69]:
ano1 = 10.5
ano2 = 30.2
ano3 = 5.4
if ano1 > ano2 and ano1 > ano3:
  print(f'El valor mas alto es: {ano1} y corresponde al año 1')
elif ano2 > ano1 and ano2 > ano3:
  print(f'El valor mas alto es: {ano2} y corresponde al año 2')
else:
  print(f'El valor mas alto es: {ano3} y corresponde al año 3')
if ano1 < ano2 and ano1 < ano3:
  print(f'El valor mas bajo es: {ano1} y corresponde al año 1')
elif ano2 < ano1 and ano2 < ano3:
  print(f'El valor mas bajo es: {ano2} y corresponde al año 2')
else:
  print(f'El valor mas bajo es: {ano3} y corresponde al año 3')

El valor mas alto es: 30.2 y corresponde al año 2
El valor mas bajo es: 5.4 y corresponde al año 3

In [68]:
producto1 = float(input('Ingrese el precio del producto 1: '))
producto2 = float(input('Ingrese el precio del producto 2: '))
producto3 = float(input('Ingrese el precio del producto 3: '))
if producto1 < producto2 and producto1 < producto3:
  print(f'El precio mas economico es: {producto1} y corresponde al producto 1')
elif producto2 < producto1 and producto2 < producto3:
  print(f'El precio mas economico es: {producto2} y corresponde al producto 2')
else:
  print(f'El precio mas economico es: {producto3} y corresponde al producto 3')

Ingrese el precio del producto 1: 10
Ingrese el precio del producto 2: 20
Ingrese el precio del producto 3: 30
El precio mas economico es: 10.0 y corresponde al producto 1

In [108]:
nro1 = 3
nro2 = 2
nro3 = 1
if nro1 >= nro2 and nro2 >= nro3:
  print(f'El orden descendente de los numeros es: {nro1}, {nro2} y {nro3}')
elif nro1 >= nro3 and nro3 >= nro2:
  print(f'El orden descendente de los numeros es: {nro1}, {nro3} y {nro2}')
elif nro2 >= nro1 and nro1 >= nro3:
  print(f'El orden descendente de los numeros es: {nro2}, {nro1} y {nro3}')
elif nro2 >= nro3 and nro3 >= nro1:
  print(f'El orden descendente de los numeros es: {nro2}, {nro3} y {nro1}')
elif nro3 >= nro1 and nro1 >= nro2:
  print(f'El orden descendente de los numeros es: {nro3}, {nro1} y {nro2}')
else:
  print(f'El orden descendente de los numeros es: {nro3}, {nro2} y {nro1}')

El orden descendente de los numeros es: 3, 2 y 1

In [110]:
turno = input('En qué turno estudia la persona usuaria? ("mañana", "tarde" o "noche"): ')
if turno == 'mañana':
  print('Buenos dias!')
elif turno == 'tarde':
  print('Buenas tardes!')
elif turno == 'noche':
  print('Buenas noches')
else:
  print('Valor invalido')

En qué turno estudia la persona usuaria? ("mañana", "tarde" o "noche"): rojo
Valor invalido

In [114]:
numero = int(input("Ingrese un número entero: "))

if (numero % 2 == 0): #significa que el residuo es cero y el número es par.
    print(f"El número {numero} es par.")
elif (numero % 2 != 0):
    print(f"El número {numero} es impar.")

Ingrese un número entero: 8
El número 8 es par.

In [116]:
numero = input("Ingrese un número: ")

if '.' in numero:
    print("El número es decimal.")
else:
    print("El número es entero.")

Ingrese un número: 8.5
El número es decimal.

## Momento de los proyectos

10 - Un programa debe ser escrito para leer dos números y luego preguntar a la persona usuaria qué operación desea realizar. El resultado de la operación debe incluir información sobre el número, si es par o impar, positivo o negativo, e entero o decimal.

11 - Escribe un programa que pida a la persona usuaria tres números que representan los lados de un triángulo. El programa debe informar si los valores pueden utilizarse para formar un triángulo y, en caso afirmativo, si es equilátero, isósceles o escaleno. Ten en cuenta algunas sugerencias:

* Tres lados forman un triángulo cuando la suma de cualesquiera dos lados es mayor que el tercero;
* Triángulo Equilátero: tres lados iguales;
* Triángulo Isósceles: dos lados iguales;
* Triángulo Escaleno: tres lados diferentes.

12 - Un establecimiento está vendiendo combustibles con descuentos variables. Para el etanol, si la cantidad comprada es de hasta 15 litros, el descuento será del 2% por litro. En caso contrario, será del 4% por litro. Para el diésel, si la cantidad comprada es de hasta 15 litros, el descuento será del 3% por litro. En caso contrario, será del 5% por litro. El precio por litro de diésel es de $2 y el precio por litro de etanol es de 1,70. Escribe un programa que lea la cantidad de litros vendidos y el tipo de combustible (E para etanol y D para diésel) y calcule el valor a pagar por el cliente. Ten en cuenta algunas sugerencias:

* El valor del descuento será el producto del precio por litro, la cantidad de litros y el valor del descuento.
* El valor a pagar por un cliente será el resultado de la multiplicación del precio por litro por la cantidad de litros menos el valor del descuento resultante del cálculo.

13 - En una empresa de venta de bienes raíces, debes crear un código que analice los datos de ventas anuales para ayudar a la dirección en la toma de decisiones. El código debe recopilar los datos de cantidad de ventas durante los años 2022 y 2023 y calcular la variación porcentual. A partir del valor de la variación, se deben proporcionar las siguientes sugerencias:

* Para una variación superior al 20%: bonificación para el equipo de ventas.
* Para una variación entre el 2% y el 20%: pequeña bonificación para el equipo de ventas.
* Para una variación entre el 2% y el -10%: planificación de políticas de incentivo a las ventas.
* Para bonificaciones inferiores al -10%: recorte de gastos.

In [119]:
nro1 = float(input("Ingrese el primer número: "))
nro2 = float(input("Ingrese el segundo número: "))

operacion = input("¿Qué operación desea realizar? (suma, resta, multiplicacion, division): ").lower()

if operacion == "suma":
    resultado = nro1 + nro2
elif operacion == "resta":
    resultado = nro1 - nro2
elif operacion == "multiplicacion":
    resultado = nro1 * nro2
elif operacion == "division":
    if nro2 == 0:
        print("Error: No se puede dividir por cero.")
        exit()
    resultado = nro1 / nro2
else:
    print("Operación no válida.")
    exit()

if resultado % 1 == 0:
    print(f"El resultado {resultado} es entero.")
    resultado = int(resultado)
else:
    print(f"El resultado {resultado} es decimal.")

if resultado % 1 == 0 and resultado % 2 == 0:
    print(f"El resultado {resultado} es par.")
elif resultado % 1 == 0:
    print(f"El resultado {resultado} es impar.")

if resultado > 0:
    print(f"El resultado {resultado} es positivo.")
elif resultado < 0:
    print(f"El resultado {resultado} es negativo.")
else:
    print(f"El resultado {resultado} es cero.")

Ingrese el primer número: 5
Ingrese el segundo número: 3
¿Qué operación desea realizar? (suma, resta, multiplicacion, division): suma
El resultado 8.0 es entero.
El resultado 8 es par.
El resultado 8 es positivo.

In [123]:
lado1 = float(input("Ingrese el primer lado del triángulo: "))
lado2 = float(input("Ingrese el segundo lado del triángulo: "))
lado3 = float(input("Ingrese el tercer lado del triángulo: "))

if (lado1 + lado2 > lado3) and (lado1 + lado3 > lado2) and (lado2 + lado3 > lado1):
    print("Los lados ingresados forman un triángulo.")

    if lado1 == lado2 == lado3:
        print("El triángulo es equilátero.")
    elif lado1 == lado2 or lado1 == lado3 or lado2 == lado3:
        print("El triángulo es isósceles.")
    else:
        print("El triángulo es escaleno.")
else:
    print("Los lados ingresados no forman un triángulo.")

Ingrese el primer lado del triángulo: 3
Ingrese el segundo lado del triángulo: 3
Ingrese el tercer lado del triángulo: 3
Los lados ingresados forman un triángulo.
El triángulo es equilátero.

In [124]:
precio_etanol = 1.70
precio_diesel = 2.00

litros = float(input("Ingrese la cantidad de litros vendidos: "))
tipo_combustible = input("Ingrese el tipo de combustible (E para etanol, D para diésel): ").upper()

if tipo_combustible == "E":
    if litros <= 15:
        descuento = 0.02  # 2%
    else:
        descuento = 0.04  # 4%
    precio_litro = precio_etanol
elif tipo_combustible == "D":
    if litros <= 15:
        descuento = 0.03  # 3%
    else:
        descuento = 0.05  # 5%
    precio_litro = precio_diesel
else:
    print("Tipo de combustible inválido.")
    exit()

# Calcular el valor del descuento y el total a pagar
descuento_total = precio_litro * litros * descuento
valor_a_pagar = (precio_litro * litros) - descuento_total

# Mostrar el resultado
print(f"Valor a pagar: ${valor_a_pagar:.2f}")

Ingrese la cantidad de litros vendidos: 10
Ingrese el tipo de combustible (E para etanol, D para diésel): e
Valor a pagar: $16.66

In [125]:
ventas_2022 = int(input("Ingrese la cantidad de ventas en 2022: "))
ventas_2023 = int(input("Ingrese la cantidad de ventas en 2023: "))

variacion = ((ventas_2023 - ventas_2022) / ventas_2022) * 100
print(f"Variación porcentual: {variacion:.2f}%")

if variacion > 20:
    print("Sugerencia: Bonificación para el equipo de ventas.")
elif 2 <= variacion <= 20:
    print("Sugerencia: Pequeña bonificación para el equipo de ventas.")
elif -10 <= variacion < 2:
    print("Sugerencia: Planificación de políticas de incentivo a las ventas.")
else:
    print("Sugerencia: Recorte de gastos.")

Ingrese la cantidad de ventas en 2022: 100
Ingrese la cantidad de ventas en 2023: 200
Variación porcentual: 100.00%
Sugerencia: Bonificación para el equipo de ventas.

# Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

In [126]:
nota_1 = float(input('Digite la nota 1: '))
nota_2 = float(input('Digite la nota 2: '))
print(f'El promedio del estudiante 1 es:  {(nota_1 + nota_2) / 2}')

nota_1 = float(input('Digite la nota 1: '))
nota_2 = float(input('Digite la nota 2: '))
print(f'El promedio del estudiante 2 es:  {(nota_1 + nota_2) / 2}')

nota_1 = float(input('Digite la nota 1: '))
nota_2 = float(input('Digite la nota 2: '))
print(f'El promedio del estudiante 3 es:  {(nota_1 + nota_2) / 2}')

Digite la nota 1: 6.5
Digite la nota 2: 8.5
El promedio del estudiante 1 es:  7.5
Digite la nota 1: 8.3
Digite la nota 2: 9
El promedio del estudiante 2 es:  8.65
Digite la nota 1: 3
Digite la nota 2: 10
El promedio del estudiante 3 es:  6.5

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

In [128]:
contador = 1
while contador <= 10:
  print(contador)
  # contador = contador + 1
  contador += 1

1
2
3
4
5
6
7
8
9
10

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

In [129]:
contador = 1
while contador <= 3:
  nota_1 = float(input('Digite la nota 1: '))
  nota_2 = float(input('Digite la nota 2: '))
  print(f'El promedio del estudiante {contador} es:  {(nota_1 + nota_2) / 2}')
  contador +=1

Digite la nota 1: 8.5
Digite la nota 2: 5.7
El promedio del estudiante 1 es:  7.1
Digite la nota 1: .5
Digite la nota 2: 10
El promedio del estudiante 2 es:  5.25
Digite la nota 1: 9
Digite la nota 2: 7
El promedio del estudiante 3 es:  8.0

## `FOR`

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

In [130]:
for n in range(1,11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [133]:
for e in range(1,4):
  nota_1 = float(input('Digite la nota 1: '))
  nota_2 = float(input('Digite la nota 2: '))
  print(f'El promedio del estudiante {e} es:  {(nota_1 + nota_2) / 2}')

Digite la nota 1: 7
Digite la nota 2: 8
El promedio del estudiante 1 es:  7.5
Digite la nota 1: 8
Digite la nota 2: 9
El promedio del estudiante 2 es:  8.5
Digite la nota 1: 10
Digite la nota 2: 5
El promedio del estudiante 3 es:  7.5

# **Desafío**: ¡Es hora de practicar!

## Entrenando la programación

1 - Escribe un programa que solicite dos números enteros e imprima todos los números enteros entre ellos.

2 - Escribe un programa para calcular cuántos días tomará que la colonia de una bacteria A supere o iguale a la colonia de una bacteria B, basado en tasas de crecimiento del 3% y 1.5%, respectivamente. Supón que la colonia A comienza con 4 elementos y B con 10.

3 - Para procesar una cantidad de 15 datos de evaluaciones de usuarios de un servicio de la empresa, necesitamos verificar si las calificaciones son válidas. Por lo tanto, escribe un programa que recibirá calificaciones del 0 al 5 y verificará si son valores válidos. Si se ingresa una calificación superior a 5 o inferior a 0, se repetirá hasta que el usuario ingrese un valor válido.

4 - Desarrolla un programa que lea un conjunto indefinido de temperaturas en grados Celsius y calcule su promedio. La lectura debe detenerse al ingresar el valor -273°C.

5 - Escribe un programa que calcule el factorial de un número entero proporcionado por el usuario. Recuerda que el factorial de un número entero es el producto de ese número por todos sus antecesores hasta llegar al número 1. Por ejemplo, el factorial de 5 es 5 x 4 x 3 x 2 x 1 = 120.

In [135]:
A = int(input("Ingrese un número entero: "))
B = int(input("Ingrese otro número entero: "))

for n in range(A,B+1):
  print(n)

Ingrese un número entero: 1
Ingrese otro número entero: 10
1
2
3
4
5
6
7
8
9
10

In [136]:
bacteria_a = 4
bacteria_b = 10
tasa_a = 0.03  # 3% de crecimiento diario
tasa_b = 0.015  # 1.5% de crecimiento diario

dias = 0

while bacteria_a < bacteria_b:
    bacteria_a += bacteria_a * tasa_a
    bacteria_b += bacteria_b * tasa_b
    dias += 1

print(f"La colonia de la bacteria A superará o igualará a la de B en {dias} días.")

La colonia de la bacteria A superará o igualará a la de B en 63 días.

In [139]:
num_evaluaciones = 15

datos = "Calificaciones válidas ingresadas:"
for i in range(num_evaluaciones):
    while True:
        calificacion = float(input(f"Ingrese la calificación {i + 1} (0 a 5): "))
        if 0 <= calificacion <= 5:
            datos += f" {calificacion}"
            break
        else:
            print("Calificación inválida. Ingrese un valor entre 0 y 5.")

print(datos)

Ingrese la calificación 1 (0 a 5): 7
Calificación inválida. Ingrese un valor entre 0 y 5.
Ingrese la calificación 1 (0 a 5): 4
Ingrese la calificación 2 (0 a 5): 5
Ingrese la calificación 3 (0 a 5): 4
Ingrese la calificación 4 (0 a 5): 5
Ingrese la calificación 5 (0 a 5): 1
Ingrese la calificación 6 (0 a 5): 3
Ingrese la calificación 7 (0 a 5): 5
Ingrese la calificación 8 (0 a 5): 4
Ingrese la calificación 9 (0 a 5): 3
Ingrese la calificación 10 (0 a 5): 8
Calificación inválida. Ingrese un valor entre 0 y 5.
Ingrese la calificación 10 (0 a 5): 7
Calificación inválida. Ingrese un valor entre 0 y 5.
Ingrese la calificación 10 (0 a 5): 5
Ingrese la calificación 11 (0 a 5): 4
Ingrese la calificación 12 (0 a 5): 6
Calificación inválida. Ingrese un valor entre 0 y 5.
Ingrese la calificación 12 (0 a 5): 1
Ingrese la calificación 13 (0 a 5): 2
Ingrese la calificación 14 (0 a 5): 4
Ingrese la calificación 15 (0 a 5): 1
Calificaciones válidas ingresadas: 4.0 5.0 4.0 5.0 1.0 3.0 5.0 4.0 3.0 5.0 4.0 1.0 2.0 4.0 1.0

In [140]:
suma_temperaturas = 0
cantidad = 0

while True:
    temperatura = float(input("Ingrese una temperatura en °C (-273 para finalizar): "))
    if temperatura == -273:
        break
    suma_temperaturas += temperatura
    cantidad += 1

if cantidad > 0:
    promedio = suma_temperaturas / cantidad
    print(f"El promedio de las temperaturas ingresadas es: {promedio:.2f}°C")
else:
    print("No se ingresaron temperaturas válidas.")

Ingrese una temperatura en °C (-273 para finalizar): 27
Ingrese una temperatura en °C (-273 para finalizar): 15
Ingrese una temperatura en °C (-273 para finalizar): 6
Ingrese una temperatura en °C (-273 para finalizar): 4
Ingrese una temperatura en °C (-273 para finalizar): -273
El promedio de las temperaturas ingresadas es: 13.00°C

In [144]:
numero = int(input("Ingrese un número entero para calcular su factorial: "))

factorial = 1
for i in range(1, numero + 1):
    factorial *= i

print(f"El factorial de {numero} es {factorial}")

Ingrese un número entero para calcular su factorial: 5
El factorial de 5 es 120

## Momento de los proyectos

6 - Escribe un programa que genere la tabla de multiplicar de un número entero del 1 al 10, según la elección del usuario. Como ejemplo, para el número 2, la tabla de multiplicar debe mostrarse en el siguiente formato:

Tabla de multiplicar del 2:
2 x 1 = 2
2 x 2 = 4
[...]
2 x 10 = 20

7 - Los números primos tienen diversas aplicaciones en Ciencia de Datos, como en criptografía y seguridad. Un número primo es aquel que es divisible solo por sí mismo y por 1. Por lo tanto, crea un programa que solicite un número entero y determine si es un número primo o no.

8 - Vamos a comprender la distribución de edades de los pensionistas de una empresa de seguros. Escribe un programa que lea las edades de una cantidad no informada de clientes y muestre la distribución en los intervalos [0-25], [26-50], [51-75] y [76-100]. La entrada de datos se detendrá al ingresar un número negativo.

9 - En una elección para la gerencia de una empresa con 20 empleados, hay cuatro candidatos. Escribe un programa que calcule al ganador de la elección. La votación se realizó de la siguiente manera:

Cada empleado votó por uno de los cuatro candidatos (representados por los números 1, 2, 3 y 4).

También se contaron los votos nulos (representados por el número 5) y los votos en blanco (representados por el número 6).

Al final de la votación, el programa debe mostrar el número total de votos para cada candidato, los votos nulos y los votos en blanco. Además, debe calcular y mostrar el porcentaje de votos nulos con respecto al total de votos y el porcentaje de votos en blanco con respecto al total de votos.

In [146]:
numero = int(input("Ingrese un número entero para mostrar su tabla de multiplicar: "))

print(f"Tabla de multiplicar del {numero}:")
for i in range(1, 11):
    print(f"{numero} x {i} = {numero * i}\n")

Ingrese un número entero para mostrar su tabla de multiplicar: 2
Tabla de multiplicar del 2:
2 x 1 = 2

2 x 2 = 4

2 x 3 = 6

2 x 4 = 8

2 x 5 = 10

2 x 6 = 12

2 x 7 = 14

2 x 8 = 16

2 x 9 = 18

2 x 10 = 20

In [149]:
num = int(input('Ingresa un número entero: '))

if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            print(f'{num} no es un número primo')
            break
    else:
        print(f'{num} es un número primo')
else:
    print(f'{num} no es un número primo')

Ingresa un número entero: 5
5 es un número primo

In [152]:
edad = int(input('Ingresa la edad (o un número negativo para finalizar): '))

contador_0_25 = 0
contador_26_50 = 0
contador_51_75 = 0
contador_76_100 = 0

while edad >= 0:

    if edad >= 0 and edad <= 25:
        contador_0_25 += 1
    elif edad >= 26 and edad <= 50:
        contador_26_50 += 1
    elif edad >= 51 and edad <= 75:
        contador_51_75 += 1
    elif edad >= 76 and edad <= 100:
        contador_76_100 += 1


    edad = int(input('Ingresa la edad (o un número negativo para finalizar): '))


print('Distribución de edades:')
print('[0-25]:', contador_0_25)
print('[26-50]:', contador_26_50)
print('[51-75]:', contador_51_75)
print('[76-100]:', contador_76_100)

Ingresa la edad (o un número negativo para finalizar): 10
Ingresa la edad (o un número negativo para finalizar): 20
Ingresa la edad (o un número negativo para finalizar): 5
Ingresa la edad (o un número negativo para finalizar): -2
Distribución de edades:
[0-25]: 3
[26-50]: 0
[51-75]: 0
[76-100]: 0

In [155]:
votos_candidato1 = 0
votos_candidato2 = 0
votos_candidato3 = 0
votos_candidato4 = 0
votos_nulos = 0
votos_blanco = 0

for i in range(0, 20):
    voto = int(input('Ingresa tu voto: '))
    if voto == 1:
        votos_candidato1 += 1
    elif voto == 2:
        votos_candidato2 += 1
    elif voto == 3:
        votos_candidato3 += 1
    elif voto == 4:
        votos_candidato4 += 1
    elif voto == 5:
        votos_nulos += 1
    elif voto == 6:
        votos_blanco += 1
    else:
        print("Voto inválido.")

print(f'Votos candidato 1: {votos_candidato1}')
print(f'Votos candidato 2: {votos_candidato2}')
print(f'Votos candidato 3: {votos_candidato3}')
print(f'Votos candidato 4: {votos_candidato4}')
print(f'Votos nulos: {votos_nulos}')
print(f'Votos en blanco: {votos_blanco}')
print(f'Porcentaje de votos nulos: {(votos_nulos / 20 * 100)}')
print(f'Porcentaje de votos en blanco: {(votos_blanco / 20 * 100)}')

Ingresa tu voto: 4
Ingresa tu voto: 1
Ingresa tu voto: 7
Voto inválido.
Ingresa tu voto: 8
Voto inválido.
Ingresa tu voto: 6
Ingresa tu voto: 2
Ingresa tu voto: 5
Ingresa tu voto: 4
Ingresa tu voto: 1
Ingresa tu voto: 2
Ingresa tu voto: 3
Ingresa tu voto: 6
Ingresa tu voto: 9
Voto inválido.
Ingresa tu voto: 8
Voto inválido.
Ingresa tu voto: 5
Ingresa tu voto: 4
Ingresa tu voto: 1
Ingresa tu voto: 2
Ingresa tu voto: 4
Ingresa tu voto: 7
Voto inválido.
Votos candidato 1: 3
Votos candidato 2: 3
Votos candidato 3: 1
Votos candidato 4: 4
Votos nulos: 2
Votos en blanco: 2
Porcentaje de votos nulos: 10.0
Porcentaje de votos en blanco: 10.0

# Estructuras de datos

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

## Listas

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [157]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

In [158]:
type(lista)

list

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

In [161]:
print(lista[0])
type(lista[0])

Penélope Camacho

str

In [162]:
print(lista[1])
type(lista[1])

9.5

float

In [163]:
print(lista[-1])
type(lista[-1])

True

bool

Una forma más dinámica de trabajar item a item en una lista es utilizando un lazo `for` para leer un elemento a la vez.

In [164]:
for elemento in lista:
  print(elemento)

Penélope Camacho
9.5
9.0
9.7
True

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

In [165]:
lista[2] = 10.0

In [166]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True]

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

In [167]:
promedio = (lista[1] + lista[2] + lista[3]) / 3
promedio

9.733333333333333

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

In [168]:
len(lista)

5

#### Partición

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

In [169]:
lista[0:2]

['Penélope Camacho', 9.5]

In [170]:
lista[:3]

['Penélope Camacho', 9.5, 10.0]

In [171]:
lista[3:]

[9.7, True]

In [172]:
lista[:]

['Penélope Camacho', 9.5, 10.0, 9.7, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Añade un elemento al final de la lista.

In [173]:
lista.append(promedio)

In [174]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True, 9.733333333333333]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

In [177]:
lista.extend([10.0,8.0,9.0])

In [176]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True, 9.733333333333333, 10.0, 8.0, 9.0]

*A continuación te mostraremos lo que no puede realizarse con* `append`.

In [178]:
lista.append([10.0,8.0,9.0])

In [179]:
lista

['Penélope Camacho',
 9.5,
 10.0,
 9.7,
 True,
 9.733333333333333,
 10.0,
 8.0,
 9.0,
 10.0,
 8.0,
 9.0,
 [10.0, 8.0, 9.0]]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remueve un elemento específico de la lista.

In [180]:
lista.remove([10.0, 8.0, 9.0])

In [181]:
lista

['Penélope Camacho',
 9.5,
 10.0,
 9.7,
 True,
 9.733333333333333,
 10.0,
 8.0,
 9.0,
 10.0,
 8.0,
 9.0]

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

In [182]:
diccionario = {'llave_1':1,
               'llave_2':2}
diccionario

{'llave_1': 1, 'llave_2': 2}

In [183]:
type(diccionario)

dict

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

In [184]:
estudiante = {'matricula':2000168933,
              'dia':25,
              'mes':10,
              'grupo':'2E'}
estudiante

{'matricula': 2000168933, 'dia': 25, 'mes': 10, 'grupo': '2E'}

In [185]:
estudiante['matricula']

2000168933

In [186]:
estudiante['grupo']

'2E'

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

In [187]:
estudiante['grupo'] = '2G'

In [188]:
estudiante

{'matricula': 2000168933, 'dia': 25, 'mes': 10, 'grupo': '2G'}

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

In [190]:
estudiante['modalidad'] =  'EAD'

In [191]:
estudiante

{'matricula': 2000168933,
 'dia': 25,
 'mes': 10,
 'grupo': '2G',
 'modalidad': 'EAD'}

In [193]:
len(estudiante)

5

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remueve un item de un diccionario y lo representa en la salida.

In [194]:
estudiante.pop('grupo')

'2G'

In [195]:
estudiante

{'matricula': 2000168933, 'dia': 25, 'mes': 10, 'modalidad': 'EAD'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna una lista de pares `llave-valor` del diccionario.

In [196]:
estudiante.items()

dict_items([('matricula', 2000168933), ('dia', 25), ('mes', 10), ('modalidad', 'EAD')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna una lista de las llaves del diccionario.

In [197]:
estudiante.keys()

dict_keys(['matricula', 'dia', 'mes', 'modalidad'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna una lista de los valores del diccionario.

In [198]:
estudiante.values()

dict_values([2000168933, 25, 10, 'EAD'])

### Lectura de valores con el lazo `for`

In [199]:
for llave in estudiante.keys():
  print(llave)

matricula
dia
mes
modalidad

In [200]:
for llave,valor in estudiante.items():
  print(llave, '-->', valor)

matricula --> 2000168933
dia --> 25
mes --> 10
modalidad --> EAD

# **Desafío**: ¡Es hora de practicar!

## Entrenando la programación

1 - Crea un programa que tenga la siguiente lista con los gastos de una empresa de papel [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]. Con estos valores, crea un programa que calcule el promedio de gastos. Sugerencia: usa las funciones integradas sum() y len().

2 - Con los mismos datos de la pregunta anterior, determina cuántas compras se realizaron por encima de 3000 reales y calcula el porcentaje con respecto al total de compras.

3 - Crea un código que recoja en una lista 5 números enteros aleatorios e imprima la lista. Ejemplo: [1, 4, 7, 2, 4].

4 - Recoge nuevamente 5 números enteros e imprime la lista en orden inverso al enviado.

5 - Crea un programa que, al ingresar un número cualquiera, genere una lista que contenga todos los números primos entre 1 y el número ingresado.

6 - Escribe un programa que pida una fecha, especificando el día, mes y año, y determine si es válida para su análisis.

In [2]:
lista_gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
print(f'El promedio de gastos es de:', sum(lista_gastos)/len(lista_gastos))

El promedio de gastos es de: 3144.222

In [3]:
lista_gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

# Contar cuántas compras fueron mayores a 3000
compras_mayores_3000 = sum(1 for gasto in lista_gastos if gasto > 3000)

# Calcular porcentaje
total_compras = len(lista_gastos)
porcentaje = (compras_mayores_3000 / total_compras) * 100

# Mostrar resultados
print(f'Número de compras por encima de 3000 reales: {compras_mayores_3000}')
print(f'Porcentaje respecto al total de compras: {porcentaje:.2f}%')

Número de compras por encima de 3000 reales: 7
Porcentaje respecto al total de compras: 70.00%

In [4]:
# Lista que almacenará los 5 números enteros
lista_numeros = []

# Creamos un bucle que iterará 5 veces para recibir los 5 números
for i in range(0, 5):
  # Recopilamos el valor e lo insertamos en la lista 5 veces
  numero = int(input('Ingresa un número entero: '))
  lista_numeros.append(numero)
#Resultado
print(f'Lista de números ingresados: {lista_numeros}')

Ingresa un número entero: 4
Ingresa un número entero: 2
Ingresa un número entero: 5
Ingresa un número entero: 6
Ingresa un número entero: 7
Lista de números ingresados: [4, 2, 5, 6, 7]

In [5]:
# Lista que almacenará los 5 números enteros
lista_numeros = []

# Creamos un bucle que iterará 5 veces para recibir los 5 números
for i in range(0, 5):
  # Recopilamos el valor e lo insertamos en la lista 5 veces
  numero = int(input('Ingresa un número entero: '))
  lista_numeros.append(numero)
# Usamos la técnica de partición para imprimir el resultado
print(f'Lista de números invertida: {lista_numeros[::-1]}')

Ingresa un número entero: 4
Ingresa un número entero: 2
Ingresa un número entero: 5
Ingresa un número entero: 6
Ingresa un número entero: 7
Lista de números invertida: [7, 6, 5, 2, 4]

In [6]:
# Pedir un número al usuario
limite = int(input("Ingrese un número: "))

# Lista para almacenar los números primos
primos = []

# Recorrer los números desde 2 hasta el límite ingresado
for num in range(2, limite + 1):
    es_primo = True  # Suponemos que el número es primo

    # Verificamos si tiene divisores (excepto 1 y él mismo)
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            es_primo = False
            break  # Si encontramos un divisor, salimos del bucle

    if es_primo:
        primos.append(num)  # Si sigue siendo primo, lo agregamos a la lista

# Mostrar la lista de números primos
print("Lista de números primos:", primos)

Ingrese un número: 4
Lista de números primos: [2, 3]

In [10]:
# Recopilamos la fecha
dia = int(input('Ingrese el día: '))
mes = int(input('Ingrese el mes: '))
año = int(input('Ingrese el año: '))

# Análisis de febrero
if mes == 2:
  # Verificamos si es o no un año bisiesto
  if año % 4 == 0 and (año % 400 == 0 or año % 100 != 0):
    dias_febrero = 29
  else:
    dias_febrero = 28
  # Verificamos si el día ingresado coincide con el máximo de días de febrero
  if dia >= 1 and dia <= dias_febrero:
    print('Fecha válida')
  else:
    print('Fecha inválida')
# Verificamos meses que terminan en 31 días
elif mes in [1, 3, 5, 7, 8, 10, 12]:
  if dia >= 1 and dia <= 31:
    print('Fecha válida')
  else:
    print('Fecha inválida')
# Verificamos meses que terminan en 30 días
elif mes in [4, 6, 9, 11]:
  if dia >= 1 and dia <= 30:
    print('Fecha válida')
  else:
    print('Fecha inválida')
# Si el mes no está entre 1 y 12
else:
  print('Fecha inválida')

Ingrese el día: 31
Ingrese el mes: 31
Ingrese el año: 3131
Fecha inválida

# Momento para los proyectos

7 - Para un estudio sobre la multiplicación de bacterias en una colonia, se recopiló el número de bacterias multiplicadas por día y se puede observar a continuación: [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]. Con estos valores, crea un código que genere una lista que contenga el porcentaje de crecimiento de bacterias por día, comparando el número de bacterias en cada día con el número de bacterias del día anterior.

Sugerencia: para calcular el porcentaje de crecimiento, utiliza la siguiente ecuación: 100 * (muestra_actual - muestra_anterior) / muestra_anterior.

8 - Para una selección de productos alimenticios, debemos separar el conjunto de IDs proporcionados por números enteros, sabiendo que los productos con ID par son dulces y los que tienen ID impar son amargos. Crea un código que recoja 10 IDs. Luego, calcula y muestra la cantidad de productos dulces y amargos.

9 - Desarrolla un programa que informe la puntuación de un estudiante de acuerdo con sus respuestas. Debe pedir la respuesta del estudiante para cada pregunta y verificar si la respuesta coincide con el resultado. Cada pregunta vale un punto y hay opciones A, B, C o D.

Resultado del examen:
01 - D
02 - A
03 - C
04 - B
05 - A
06 - D
07 - C
08 - C
09 - A
10 - B

10 - Un instituto de meteorología desea realizar un estudio de la temperatura media de cada mes del año. Para ello, debes crear un código que recoja y almacene esas temperaturas medias en una lista. Luego, calcula el promedio anual de las temperaturas y muestra todas las temperaturas por encima del promedio anual y en qué mes ocurrieron, mostrando los meses por su nombre (Enero, Febrero, etc.).

11 - Una empresa de comercio electrónico está interesada en analizar las ventas de sus productos. Los datos de ventas se han almacenado en un diccionario:

{'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}

Escribe un código que calcule el total de ventas y el producto más vendido.

12 - Se realizó una encuesta de mercado para decidir cuál diseño de marca infantil es más atractivo para los niños. Los votos de la encuesta se pueden ver a continuación:

Tabla de votos de la marca
Diseño 1 - 1334 votos
Diseño 2 - 982 votos
Diseño 3 - 1751 votos
Diseño 4 - 210 votos
Diseño 5 - 1811 votos

Adapta los datos proporcionados a una estructura de diccionario. A partir de ello, informa el diseño ganador y el porcentaje de votos recibidos.

13 - Los empleados de un departamento de tu empresa recibirán una bonificación del 10% de su salario debido a un excelente rendimiento del equipo. El departamento de finanzas ha solicitado tu ayuda para verificar las consecuencias financieras de esta bonificación en los recursos. Se te ha enviado una lista con los salarios que recibirán la bonificación: [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]. La bonificación de cada empleado no puede ser inferior a 200. En el código, convierte cada uno de los salarios en claves de un diccionario y la bonificación de cada salario en el valor correspondiente. Luego, informa el gasto total en bonificaciones, cuántos empleados recibieron la bonificación mínima y cuál fue el valor más alto de la bonificación proporcionada.

14 - Un equipo de científicos de datos está estudiando la diversidad biológica en un bosque. El equipo recopiló información sobre el número de especies de plantas y animales en cada área del bosque y almacenó estos datos en un diccionario. En él, la clave describe el área de los datos y los valores en las listas corresponden a las especies de plantas y animales en esas áreas, respectivamente.

{'Área Norte': [2819, 7236], 'Área Leste': [1440, 9492], 'Área Sul': [5969, 7496], 'Área Oeste': [14446, 49688], 'Área Centro': [22558, 45148]}

Escribe un código para calcular el promedio de especies por área e identificar el área con la mayor diversidad biológica. Sugerencia: utiliza las funciones incorporadas sum() y len().

15 - El departamento de Recursos Humanos de tu empresa te pidió ayuda para analizar las edades de los colaboradores de 4 sectores de la empresa. Para ello, te proporcionaron los siguientes datos:

{'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

Dado que cada sector tiene 10 colaboradores, construye un código que calcule la media de edad de cada sector, la edad media general entre todos los sectores y cuántas personas están por encima de la edad media general.

In [11]:
# Lista de crecimiento de bacterias
bacterias_colonia = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
# Lista que almacenará las tasas de crecimiento
porcentaje_crecimiento = []
# Recorremos los índices de 1 a 9 para comparar los valores actuales con los anteriores
for i in range(1, len(bacterias_colonia)):
  # Realizamos el cálculo: 100 * (muestra_actual - muestra_anterior) / (muestra_anterior)
  porcentaje = 100 * (bacterias_colonia[i] - bacterias_colonia[i-1]) / (bacterias_colonia[i-1])
  # Agregamos el resultado a la lista porcentaje_crecimiento
  porcentaje_crecimiento.append(porcentaje)
# Resultado
print(f'Porcentajes de crecimiento:\n{porcentaje_crecimiento}')

Porcentajes de crecimiento:
[75.00000000000001, 57.142857142857125, 51.51515151515153, 56.0, 44.87179487179489, 46.90265486725664, 51.20481927710843, 50.59760956175297, 50.52910052910054]

In [13]:
# Lista que contendrá los valores de IDs
ids = []
# Variables contadoras de dulces y amargos
dulce = 0
amargo = 0

# Creamos un bucle que iterará 10 veces para recopilar los 10 IDs
for i in range(0,10):
  # Recopilamos el ID y lo agregamos a la lista
  ids.append(int(input(f'Ingrese el ID {i+1}°: ')))

# Leemos todos los elementos de la lista de IDs y los asignamos a id
for id in ids:
  # Verificamos si los elementos son pares o impares para llevar el conteo
  if id % 2 == 0:
    dulce += 1
  else:
    amargo += 1

# Resultado
print(f'Cantidad de productos dulces: {dulce}')
print(f'Cantidad de productos amargos: {amargo}')

Ingrese el ID 1°: 20
Ingrese el ID 2°: 30
Ingrese el ID 3°: 10
Ingrese el ID 4°: 50
Ingrese el ID 5°: 40
Ingrese el ID 6°: 90
Ingrese el ID 7°: 70
Ingrese el ID 8°: 20
Ingrese el ID 9°: 45
Ingrese el ID 10°: 78
Cantidad de productos dulces: 9
Cantidad de productos amargos: 1

In [14]:
# Inicializamos los datos
respuestas = []  # Lista para almacenar las respuestas
# Lista de respuestas correctas
gabarito = ['D', 'A', 'C', 'B', 'A', 'D', 'C', 'C', 'A', 'B']
nota = 0  # Acumulará la nota total

# Recopilamos las respuestas del estudiante
for i in range(0, 10):
  respuestas.append(input(f'Introduzca la respuesta a la pregunta {i + 1}: ').upper())

# Verificamos si las respuestas coinciden y las sumamos a la nota
for i in range(0, 10):
  if respuestas[i] == gabarito[i]:
    nota += 1

# Mostrando la nota final
print(f'Nota final: {nota}')

Introduzca la respuesta a la pregunta 1: Si
Introduzca la respuesta a la pregunta 2: No
Introduzca la respuesta a la pregunta 3: Quizas
Introduzca la respuesta a la pregunta 4: No se
Introduzca la respuesta a la pregunta 5: Cierto
Introduzca la respuesta a la pregunta 6: Duda
Introduzca la respuesta a la pregunta 7: Incierto
Introduzca la respuesta a la pregunta 8: Afirmativo
Introduzca la respuesta a la pregunta 9: Negativo
Introduzca la respuesta a la pregunta 10: Incertidumbre
Nota final: 0

In [16]:
# Recopilamos la lista de temperaturas mensuales
temperaturas_mensuales = []
for i in range(0, 12):
  temperaturas_mensuales.append(float(input(f'Ingrese la temperatura promedio del mes {i+1}: ')))
# Creamos una lista auxiliar para los nombres de los meses
meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
# Calculamos el promedio
media_anual = sum(temperaturas_mensuales) / len(temperaturas_mensuales)

# Resultado
print('Temperaturas por encima del promedio en: ')
for i in range(0, 12):
  # Verificamos todas las temperaturas en comparación con la media anual
  if temperaturas_mensuales[i] > media_anual:
    # Dado que los índices de los meses corresponden a las temperaturas,
    # podemos imprimirlos con el mismo índice
    print(meses[i])

Ingrese la temperatura promedio del mes 1: 20
Ingrese la temperatura promedio del mes 2: 15
Ingrese la temperatura promedio del mes 3: 30
Ingrese la temperatura promedio del mes 4: 45
Ingrese la temperatura promedio del mes 5: 10
Ingrese la temperatura promedio del mes 6: 05
Ingrese la temperatura promedio del mes 7: 2
Ingrese la temperatura promedio del mes 8: 60
Ingrese la temperatura promedio del mes 9: 11
Ingrese la temperatura promedio del mes 10: 40
Ingrese la temperatura promedio del mes 11: 10
Ingrese la temperatura promedio del mes 12: 12
Temperaturas por encima del promedio en:
Marzo
Abril
Agosto
Octubre

In [17]:
# Diccionario de ventas
datos_ventas = {'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}

# Inicializamos las variables
total_ventas = 0  # Sumará todas las ventas
producto_mas_vendido = ''  # Almacenará el nombre del producto más vendido
unidades_producto_mas_vendido = 0  # Almacenará la cantidad más alta de ventas

# Recorremos las claves y elementos del diccionario
for producto in datos_ventas.keys():
    # Sumamos el total de ventas
    total_ventas += datos_ventas[producto]
    # Verificamos si el valor de ventas actual (datos_ventas[producto]) es mayor que el valor almacenado en unidades_producto_mas_vendido
    # Cada vez que datos_ventas[producto] supere el valor en unidades_producto_mas_vendido,
    # la variable unidades_producto_mas_vendido será igual a datos_ventas[producto], asignando un nuevo valor
    # De manera similar, producto_mas_vendido también se actualiza con el producto actual
    if datos_ventas[producto] > unidades_producto_mas_vendido:
        unidades_producto_mas_vendido = datos_ventas[producto]
        producto_mas_vendido = producto
# Resultados
print(f'Total de ventas es {total_ventas}')
print(f'{producto_mas_vendido} es el más vendido')

Total de ventas es 920
Producto A es el más vendido

In [18]:
# Diccionario de votos por diseño
votos = {'Diseño 1': 1334, 'Diseño 2': 982, 'Diseño 3': 1751, 'Diseño 4': 210, 'Diseño 5': 1811}

# Inicializamos las variables
total_votos = 0  # Sumará todos los votos
ganador = ''  # Almacenará el nombre del diseño ganador
voto_ganador = 0  # Almacenará la cantidad ganadora de votos

# Recorremos las claves y elementos del diccionario
for diseño, voto_diseño in votos.items():
    # Sumamos el total de votos
    total_votos += voto_diseño
    # Verificamos si el voto del diseño actual (voto_diseño) es mayor que el valor almacenado en voto_ganador
    # Cada vez que voto_diseño supere el valor en voto_ganador,
    # la variable voto_ganador será igual a voto_diseño, asignando un nuevo valor
    # De manera similar, el ganador también se actualiza con el diseño actual
    if voto_diseño > voto_ganador:
        voto_ganador = voto_diseño
        ganador = diseño
# Calculamos el porcentaje del diseño ganador
porcentaje = 100 * (voto_ganador) / (total_votos)

# Resultado
print(f'{ganador} es el ganador: ')
print(f'Porcentaje de votos: {porcentaje}%')

Diseño 5 es el ganador:
Porcentaje de votos: 29.747043363994745%

In [19]:
# Lista de salarios
salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]
# Inicializamos las variables
diccionario_abonos = {}  # Diccionario de abonos
total_abono = 0  # Sumará todos los gastos en abonos
abonos_minimo = 0  # Almacenará la cantidad de abonos mínimos
mayor_abono = 0  # Almacenará el mayor valor de abono

# Recorremos toda la lista de salarios
for salario in salarios:
    # Calculamos el valor teórico del abono
    abono = salario * 0.1
    # Si el abono es inferior a 200,
    # ajustamos el valor del abono al mínimo (200)
    if abono < 200:
        abono = 200
    # Agregamos un nuevo dato en el diccionario con la clave abono
    diccionario_abonos[salario] = abono

# Recorremos todos los valores del diccionario de abonos
for abono in diccionario_abonos.values():
    # Contamos los salarios mínimos
    if abono == 200:
        abonos_minimo += 1
    # Verificamos si el abono leído es mayor que el valor almacenado en mayor_abono
    # Cada vez que el abono supere el valor de mayor_abono,
    # la variable mayor_abono será igual al abono, asignando un nuevo valor
    if abono > mayor_abono:
        mayor_abono = abono
    # Sumamos los abonos
    total_abono += abono
# Resultados
print(f'Abonos: {diccionario_abonos}')
print(f'Total de gastos en abonos: {total_abono}')
print(f'Número de empleados que recibieron el abono mínimo: {abonos_minimo}')
print(f'Mayor valor de abono: {mayor_abono}')

Abonos: {1172: 200, 1644: 200, 2617: 261.7, 5130: 513.0, 5532: 553.2, 6341: 634.1, 6650: 665.0, 7238: 723.8000000000001, 7685: 768.5, 7782: 778.2, 7903: 790.3000000000001}
Total de gastos en abonos: 6087.8
Número de empleados que recibieron el abono mínimo: 2
Mayor valor de abono: 790.3000000000001

In [20]:
# Especificamos los datos para un diccionario
datos = {'Área Norte': [2819, 7236],
         'Área Este': [1440, 9492],
         'Área Sur': [5969, 7496],
         'Área Oeste': [14446, 49688],
         'Área Centro': [22558, 45148]}
# Inicializamos las variables
suma_media = 0  # Sumará todos los promedios
mayor_diversidad = ''  # Almacenará el área con la mayor diversidad
mayor_suma = 0  # Almacenará la mayor suma de especies
# Recorremos las claves y elementos del diccionario
for área, especies in datos.items():
    # Sumamos el número de especies en cada área utilizando la función sum
    suma_especies = sum(especies)
    # Calculamos el promedio dividiendo la suma de las especies entre la cantidad de especies
    media = suma_especies / len(especies)
    # Imprimimos
    print(f'El {área} tiene un promedio de {media} especies')
    # Verificamos si la suma de especies es mayor que el valor almacenado de mayor_suma
    # Cada vez que suma_especies supere el valor de mayor_suma,
    # la variable mayor_suma será igual a suma_especies, asignando un nuevo valor
    # De manera similar, mayor_diversidad también se actualiza
    if suma_especies > mayor_suma:
        mayor_suma = suma_especies
        mayor_diversidad = área
    # Sumamos los promedios
    suma_media += media
# La media total será la suma_media dividida por la cantidad de áreas
media_total = suma_media / len(datos)
print(f'Media general de especies: {media_total}')
print(f'Área con la mayor diversidad biológica: {mayor_diversidad}')

El Área Norte tiene un promedio de 5027.5 especies
El Área Este tiene un promedio de 5466.0 especies
El Área Sur tiene un promedio de 6732.5 especies
El Área Oeste tiene un promedio de 32067.0 especies
El Área Centro tiene un promedio de 33853.0 especies
Media general de especies: 16629.2
Área con la mayor diversidad biológica: Área Centro

In [21]:
# Especificamos los datos para un diccionario
datos = {'Sector A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
        'Sector B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
        'Sector C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
        'Sector D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}
# Inicializamos la variable que sumará todas las edades
total_edades = 0
# Recorremos las claves y elementos del diccionario
for sector, edades in datos.items():
  # Calculamos el promedio dividiendo la suma de las edades entre la cantidad de empleados en cada sector
  media_edad = sum(edades) / len(edades)
  # Imprimimos
  print(f'El {sector} tiene un promedio de {media_edad}')
  # Sumamos los promedios
  total_edades += sum(edades)
# La media total será el total_edades dividido por la cantidad de personas totales (sectores * empleados por sector)
media_total = total_edades / (len(edades) * len(datos))
print(f'La media de edad general es {media_total}')

# Inicializamos la variable que contará a todas las personas con edades por encima de la media
arriba_media = 0
# Recorremos nuevamente las claves y elementos del diccionario
for sector, edades in datos.items():
  # Leemos los elementos (edades) dentro de cada lista de edades en el diccionario
  for edad in edades:
    # Verificamos si el valor de la edad es superior a la media total
    if edad > media_total:
      # En caso de que el valor de la edad sea superior a la media, incrementamos en uno el contador
      arriba_media += 1
# Resultado
print(f'{arriba_media} personas están por encima de la edad media general')

El Sector A tiene un promedio de 39.9
El Sector B tiene un promedio de 42.3
El Sector C tiene un promedio de 35.8
El Sector D tiene un promedio de 36.5
La media de edad general es 38.625
18 personas están por encima de la edad media general